@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Libre+Franklin:400,700&subset=latin");

/* Font */

@font-face {
    font-family: "termina";
    src: url("/fonts/termina.woff2") format("woff2"),
        url("/fonts/termina.woff") format("woff");
}

/* Separateur */

.separator {
    text-align: center;
    width: 75%;
    margin-left: 12.5%;
    margin-right: 12.5%;
    color: #bbbbbb;
    height: 3px !important;
    border-radius: 100%;
    opacity: 1;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #000;
}

::-webkit-scrollbar-thumb {
    background: #33ddffd5;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #33DDFF;
}

/* A propos -/- about */

#about {
    padding-bottom: 100px;
}

.about h1 {
    color: #000000;
    font-family: 'Tinos', bold;
    font-weight: bold;
    font-size: 160px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, rgb(118, 134, 255) 0%, rgb(255, 194, 194) 100%);
}

.about h2 {
    color: #000000;
    font-family: 'Tinos', bold;
    font-weight: bold;
    font-size: 50px;
    margin-top: 0px;
    text-decoration: underline rgb(118, 134, 255);
}

.about h4 {
    color: #252525;
    font-family: 'Poppins';
    font-weight: 500;
    transition: 500ms;
    font-size: 30px;
}

.about-classe {
    font-weight: bold;
}

.about-pays {
    font-weight: bold;
}

.about-pays:hover {
    background: linear-gradient(90deg, rgba(0, 31, 255, 1) 0%, rgb(255, 206, 206) 50%, rgba(255, 0, 0, 1) 100%);
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.about a {
    text-decoration: none;
    transition: 500ms;
    color: rgb(0, 0, 0);
}

.about a:hover {
    border: none;
    border-radius: 23px;
    padding: 0px 30px;
    color: rgb(0, 0, 0);
    background-color: #f2ce58c2;
    transition: 500ms;
}

/* Projets -/- projets */

a {
    text-decoration: none;
    color: inherit !important;
    height: 425px;
    margin-bottom: 50px;
}

.wrapper {
    max-width: 850px;
    margin: 20px auto;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card_wrapper {
    width: 350px;
    transition: transform 0.5s;
    position: relative;
    height: 430px;
    border: 1px solid #DEDCDC;
    border-radius: 6px;
    background: #E4F2F9;
    display: flex;
    flex-direction: column;
    background-image: url("/img/skym-mc.png");
    background-size: 150%;
    background-repeat: no-repeat;
    background-position-x: -80px;
}

a:nth-child(2) .card_wrapper {
    background-image: url("/img/skymdev.png");
}

a:nth-of-type(3) .card_wrapper {
    background-image: url("/img/skym.png");
}

a:nth-of-type(4) .card_wrapper {
    background-image: url("/img/serendipitartist.png");
}

.project_summary {
    margin-top: 260px;
    postion: relative;
    padding: 0 20px;
    background: #fff;
    flex: 1;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

.project_title {
    margin-bottom: 0;
    padding-top: 15px;
    color: #5D6771;
    font-family: Poppins;
}

.created_date {
    margin: 10px 0;
    color: #8A8EA0;
    font-family: Poppins;
}

.project_desc {
    margin: 0;
    font-weight: 300;
    width: 100%;
    font-family: Poppins;
}

a:hover .card_wrapper {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.09);
    transform: scale3d(1.008, 1.008, 1);
}

/* Développement -/- dev */

#dev {
    padding-bottom: 100px;
    padding-left: 305px;
    padding-right: 300px;
}

.dev h1 {
    color: #000000;
    font-family: 'Tinos', bold;
    font-weight: bold;
    font-size: 160px;
    margin-bottom: 10px;
    background: linear-gradient(90deg, rgb(118, 134, 255) 0%, rgb(255, 194, 194) 100%);
}

.dev h2 {
    color: #000000;
    font-family: 'Tinos', bold;
    font-weight: bold;
    font-size: 50px;
    margin-top: 0px;
    text-decoration: underline rgb(118, 134, 255);
}

.dev h4 {
    color: #252525;
    font-family: 'Poppins';
    font-weight: 500;
    transition: 500ms;
    font-size: 30px;
}

.dev a {
    text-decoration: none;
    transition: 500ms;
    color: rgb(0, 0, 0);
}

.dev a:hover {
    border: none;
    border-radius: 23px;
    padding: 0px 30px;
    color: rgb(0, 0, 0);
    background-color: #f2ce58c2;
    transition: 500ms;
}

/* Footer */

.footerChild {
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Poppins';
}

.footerChild a {
    text-align: center;
    color: rgb(0, 0, 0);
    transition: 0.5s;
}

.footerChild a:hover {
    text-align: center;
    color: rgb(107, 107, 107);
    transition: 0.5s;
}

/* Responsive Web */

@media (max-width: 614px) {

    html {
        background-color: #282828;
    }

    body {
        margin: 0px;
    }

    /* Welcome */

    .welcome h1 {
        text-align: left;
        color: #fff;
        font-family: Poppins;
    }

    .about h4 {
        font-size: 1px;
    }

    /* A propos -/- about */

    .about {
        padding: 0px;
        margin: 0px;
    }

    .about h1 {
        text-align: left;
        font-size: 20px;
        padding: 0px;
        margin: 0px;
        display: unset;
    }

    .wrapper {
        margin: 0px;
    }

    #dev {
        padding: 0px;
        margin: 0px
    }

    .dev {
        padding: 0px;
        margin: 0px;
    }

    .dev h1 {
        padding: 0px;
        margin: 0px;
        font-size: 20px;
        display: unset;
    }

}

/* Animations */

@keyframes come-slide-zoom {
    0% {
        filter: opacity(0%);
        transform: translate(0px, 10px);
    }

    50% {
        filter: opacity(100%);
        transform: translate(0px, 10px);
    }

    100% {
        filter: opacity(100%);
        transform: scale(150%);
        transform: translate(0px, -270px);
    }
}

@keyframes zoom {
    0% {
        filter: opacity(0%);
        transform: scale(0%);
        transform: translate(0px, 0px);
    }

    50% {
        filter: opacity(100%);
        transform: scale(100%);
        transform: translate(0px, -50px);
    }

    100% {
        filter: opacity(100%);
        transform: translate(0px, -50px);
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}