@charset "UTF-8";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    max-width: 100%;
    background: #121212;
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 1px;
}

::-webkit-scrollbar-track {
    background: #101010;
}

::-webkit-scrollbar-thumb {
    background: #33ddffd5;
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #33DDFF;
}

/* Welcome */

.welcome {
    padding-top: 15%;
    padding-bottom: 15%;
}

.welcome h1 {
    text-align: center;
    font-weight: bold;
    line-height: 90%;
    font-size: 150px;
    color: white;

    animation-name: float;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.portfolio {
    text-decoration: underline plum;
}

/* About */

#about {
    padding-left: 17%;
    padding-right: 17%;
    padding-bottom: 5%;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 500ms;
}

.about h1 {
    color: white;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 10px;
}

.about h2 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline rgb(118, 134, 255);
}

.about h4 {
    color: grey;
    font-weight: 500;
    font-size: 30px;
}

/* Projects */

#wrapper {
    padding-left: 17%;
    padding-right: 17%;
    padding-bottom: 5%;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
}

#wrapper h1 {
    color: white;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 10px;
}

#wrapper h2 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline rgb(118, 134, 255);
}

.wrapper {
    padding-top: 3%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.wrapper a {
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}

.wrapper h3 {
    color: white;
    font-size: 20px;
    margin-top: 5%;
    text-shadow: 9px 9px 10px #000;
}

.wrapper h4 {
    color: white;
    font-size: 15px;
    margin: 1% 0%;
    text-shadow: 9px 9px 10px #000;
}

.card_wrapper {
    height: 350px;
    width: 600px;
    display: flex;

    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.09);
    border-radius: 6px;
    background-size: cover;
    background-position: center;

    transition: 1s;
}

.card_summary {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.281), rgba(0, 0, 0, 0));
    padding: 0 4%;
    flex: 1;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
}

a:hover .card_wrapper {
    transition: 1s;
    text-decoration: none;
    box-shadow: 5px 10px 10px #1a1a1a;
    transform: scale3d(1.008, 1.008, 1);
}

a:nth-child(1) .card_wrapper {
    background-image: url("/img/skym-mc.png");
}

a:nth-child(2) .card_wrapper {
    background-image: url("/img/freelance.png");
}

a:nth-of-type(3) .card_wrapper {
    background-image: url("/img/serendipitartist.png");
}

a:nth-of-type(4) .card_wrapper {
    background-image: url("/img/skymdev.png");
}

a:nth-of-type(5) .card_wrapper {
    background-image: url("/img/cretaceous-kingdom.png");
}

/* Développement -/- dev */

#dev {
    padding-left: 17%;
    padding-right: 17%;

    animation-name: zoom;
    animation-duration: 3s;
    filter: opacity(0);
    animation-fill-mode: forwards;
    animation-delay: 2000ms;
}

.dev h1 {
    color: white;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 10px;
}

.dev h2 {
    color: white;
    font-weight: bold;
    font-size: 50px;
    text-decoration: underline rgb(118, 134, 255);
}

.dev h4 {
    color: grey;
    font-weight: 500;
    font-size: 30px;
}

/* Footer */

.footerChild {
    text-align: center;
    color: #fff;
    padding: 3%;
}

.footerChild a {
    text-align: center;
    color: #fff;
    transition: 0.5s;
}

.footerChild a:hover {
    text-align: center;
    color: rgb(107, 107, 107);
    transition: 0.5s;
}

/* Responsive Web */

@media (max-width : 435px) {

    .welcome {
        padding-top: 60%;
        padding-bottom: 60%;
    }

    .welcome h1 {
        font-size: 40px;
    }

    #about {
        padding: 10%;
        padding-top: 20%;
    }

    .about h1 {
        font-size: 50px;
    }

    #wrapper {
        padding: 10%;
        padding-top: 20%;
    }

    #wrapper h1 {
        font-size: 50px;
    }

    .wrapper {
        display: inline;
    }

    .wrapper h3 {
        margin: 0%;
    }

    .wrapper h4 {
        margin: 0%;
    }

    .card_wrapper {
        width: 350px;
        height: 150px;
        margin-top: 20%;
        margin-bottom: 0%;
    }

    #dev {
        padding: 10%;
        padding-top: 20%;
    }

    .dev h1 {
        font-size: 50px;
    }
}

/* Animations */

@keyframes zoom {
    0% {
        filter: opacity(0%);
        transform: scale(0%);
        transform: translate(0px, 0px);
    }

    50% {
        filter: opacity(100%);
        transform: scale(100%);
        transform: translate(0px, -50px);
    }

    100% {
        filter: opacity(100%);
        transform: translate(0px, -50px);
    }
}

@keyframes float {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}